#abc123{
    margin:0px 0;
}


.abc{
    background-image: url("https://image.freepik.com/free-photo/smooth-dark-blue-with-black-vignette-studio-well-use-as-background-business-report-digital-website-template_1258-748.jpg");
    background-repeat: repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    height: 70%;

  }

