{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en" >
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"><link rel="stylesheet" href="./style.css">
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Varela+Round" rel="stylesheet" />
<link href="{% static 'OurServices/default.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'OurServices/fonts.css' %}" rel="stylesheet" type="text/css" media="all" />
<head>
<style>

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #970A42;
  padding: 10px;
}
.grid-item {
  background-color: #D3D3D3;
  border: 5px solid #970A42;
  padding: 2px;
  font-size: 30px;
  text-align: center;
}
</style>
  <meta charset="UTF-8">
  
  <link rel="stylesheet" href="{% static 'OurServices/exp.css' %}">

</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="{% url 'homea' %}">Isolate Together</a></h1>
				
			</div>
			<div>
				<img src="{% static 'OurServices/logo.jpg' %}" style="float:right;width:200px;height:200px;">
			</div>
		</div>
		<div id="menu" class="container">
			<ul>
				<li><a href="{% url 'homea' %}" accesskey="1" title="">Home</a></li>
				<li><a href="/whyIsolateTogether" accesskey="1" title="">Why Isolate Together</a></li>
				<li><a href="/ourService_card" accesskey="2" title="">Our Services</a></li>
				<li><a href="#" accesskey="3" title="">About Us</a></li>
						  {% if username %}
						  <li><a href="{% url 'profile' %}" accesskey="4" title="">{{ username }}</a></li>
						  <li><a href="{% url 'logout' %}" accesskey="5" title="">Logout</a></li>
						  {% else %}
						  <li><a href="/signin" accesskey="4" title="">Sign In</a></li>
						  <li><a href="{% url 'select' %}" accesskey="5" title="">Get Started</a></li>
						  {% endif %}
			  </ul>
		</div>
	</div>
</div>
<div class="grid-container">
  <div class="grid-item"><a href="https://www.crazygames.com/game/ludo-king" target="_blank"><img src="https://static.toiimg.com/thumb/msid-75429605,width-1200,resizemode-4/75429605.jpg" alt="HTML tutorial" style="width:242px;height:242px;"></a></div>
  <div class="grid-item"><a href="https://skribbl.io/" target="_blank"><img src="https://i.pinimg.com/originals/40/10/75/40107523d0ff82bd08a05f0bc683fa0b.png" alt="HTML tutorial" style="width:242px;height:242px;"></a></div>
  
  
  <div class="grid-item"><a href="https://www.chess.com/" target="_blank"><img src="https://betacssjs.chesscomfiles.com/bundles/web/images/social/share-play-computer-level-5.374a0fea.png" alt="HTML tutorial" style="width:242px;height:242px;"></a></div>  
  
  <div class="grid-item"><a href="https://gartic.io/" target="_blank"><img src="https://gartic.io/static/images/thumb.png?v=10" alt="HTML tutorial" style="width:242px;height:242px;"></a></div>
  
  <div class="grid-item"><a href="https://www.geoguessr.com/" target="_blank"><img src="https://www.seriouslyfreshmedia.com/wp-content/uploads/2016/06/cherrymedia-cherrysauce-geoguessr_share-1.jpg" alt="HTML tutorial" style="width:242px;height:242px;"></a></div>
  <div class="grid-item"><a href="http://slither.io/" target="_blank"><img src="https://res09.bignox.com/appcenter/en/2020/02/wp3941273.jpg" alt="HTML tutorial" style="width:242px;height:242px;"></a></div>  
  
</div>
 
</body>
</html>