{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Varela+Round"
		rel="stylesheet" />
	<link href="{% static 'home/default.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'home/fonts.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'home/testimonial.css' %}">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&amp;display=swap'>
	

	<style>
		{
			position: absolute;
			right: 10px;
			top: 5px;
		}
	</style>

</head>

<body>

	<div id="wrapper">
		<div id="header-wrapper">
			<div id="header" class="container">
				<div id="logo">
					<h1><a href="{% url 'homea' %}">Isolate Together</a></h1>
				</div>

				<div>
					<a href="{% url 'homea' %}">
						<img src="{% static 'home/logo.jpg' %}" style="float:right;width:200px;height:200px;">
					</a>
				</div>
			</div>
			<div id="menu" class="container">
				<ul>
					<li class="current_page_item"><a href="{% url 'homea' %}" accesskey="1" title="">Home</a></li>
					<li><a href="/whyIsolateTogether" accesskey="1" title="">Why Isolate Together</a></li>
					<li><a href="/ourService_card" accesskey="2" title="">Our Services</a></li>
					<li><a href="/aboutus" accesskey="3" title="">About Us</a></li>
					{% if username %}
					<li><a href="/savedChats" accesskey="4" title="">{{ username }}</a></li>
					<li><a href="{% url 'logout' %}" accesskey="5" title="">Logout</a></li>
					{% else %}
					<li><a href="/signin" accesskey="4" title="">Sign In</a></li>
					<li><a href="{% url 'select' %}" accesskey="5" title="">Get Started</a></li>
					{% endif %}

				</ul>

			</div>
		</div>


		<div class="slideshow-container">

			<div class="mySlides fade">
				<div class="numbertext"></div>
				<img src="{% static 'home/Slide1.jpg' %}" style="width:100%">
				<div class="text"></div>
			</div>

			<div class="mySlides fade">
				<div class="numbertext"></div>
				<img src="{% static 'home/Slide2.jpg' %}" style="width:100%">
				<div class="text"></div>
			</div>

			<div class="mySlides fade">
				<div class="numbertext"></div>
				<img src="{% static 'home/Slide3.jpg' %}" style="width:100%">
				<div class="text"></div>
			</div>

			<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
			<a class="next" onclick="plusSlides(1)">&#10095;</a>

		</div>
		<br>

		<div style="text-align:center">
			<span class="dot" onclick="currentSlide(1)"></span>
			<span class="dot" onclick="currentSlide(2)"></span>
			<span class="dot" onclick="currentSlide(3)"></span>
		</div>

		<script>
			var slideIndex = 1;
			showSlides(slideIndex);

			function plusSlides(n) {
				showSlides(slideIndex += n);
			}

			function currentSlide(n) {
				showSlides(slideIndex = n);
			}

			function showSlides(n) {
				var i;
				var slides = document.getElementsByClassName("mySlides");
				var dots = document.getElementsByClassName("dot");
				if (n > slides.length) { slideIndex = 1 }
				if (n < 1) { slideIndex = slides.length }
				for (i = 0; i < slides.length; i++) {
					slides[i].style.display = "none";
				}
				for (i = 0; i < dots.length; i++) {
					dots[i].className = dots[i].className.replace(" active", "");
				}
				slides[slideIndex - 1].style.display = "block";
				dots[slideIndex - 1].className += " active";
			}
		</script>
		<div id="page" class="container">
			<div><a href="#"><img src="{% static 'home/img_mountains_wide' %}" alt="" /></a></div>
			<div class="column1">
				<div class="title">
					<h2>Join Thousands of Covid-19 Patients</h2>
					<span class="byline">Get Locked Down with <strong>Isolate Together</strong></span>
				</div>
				<p>We at <strong>Isolate Together</strong> aim to reduce the boredom in the lives of Covid Patients by
					providing them some means of entertainment which we think that could be useful.
					So, what are you waiting for..Join the journey now! </p>

			</div>
			<div class="column3">
				<div class="title">
					<h2>Corona Tracker</h2>
				</div>
				<img src="{% static 'home/covid_tracker.jpg' %}" width="282" height="150" alt="" />
				<p>Get Real time Information of the Covid Cases Globally</p>
				<a href="https://www.covid19india.org/" class="button" target="_blank">Covid Tracker</a>
			</div>
			<div class="column4">
				<div class="title">
					<h2>Tips & Suggestions</h2>
				</div>
				<img src="{% static 'home/Tips-and-Advice.jpg' %}" width="282" height="150" alt="" />
				<p>Get some information which might be helpful for your speedy recovery</p>
				<a href="/tips" class="button">Suggestions</a>
			</div>
		</div>
		<div id="portfolio-wrapper">
			<div id="portfolio" class="container">
				<div class="title">
					<h2>FROM THE RECOVERED</h2>
					<span class="byline">Some words from those who defeated Covid-19</span>
				</div>
				<div class="column1">
					<div class="box">
						<img src="{% static 'home/covid_survivor.jpg' %}" width="282" height="150" alt="" />
						<h3><strong>Experience</strong></h3>
						<p>Success Stories of those who defeated Covid-19</p>
						<a href="/ftrExp" class="button">Learn More</a>
					</div>
				</div>
				<div class="column2">
					<div class="box">
						<img src="{% static 'home/skills.jpg' %}" width="282" height="150" alt="" />
						<h3><strong>Skills Learnt</strong></h3>
						<p>How did these patients did something productive in their Quarantine</p>
						<a href="/ftrskill" class="button">Learn More</a>
					</div>
				</div>
				<div class="column3">
					<div class="box">
						<img src="{% static 'home/home.jpg' %}" width="282" height="150" alt="" />
						<h3><strong>Home Remedies</strong></h3>
						<p>Home Remedies which helped people recover</p>
						<a href="/ftrHR" class="button">Learn More</a>
					</div>
				</div>
				<div class="column4">
					<div class="box">
						<img src="{% static 'home/best_doctors.jpg' %}" width="282" height="150" alt="" />
						<h3><strong>Best doctors</strong></h3>
						<p>Which are the Best Doctors in your location</p>
						<a href="/ftrHospital" class="button">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section id="testim" class="testim">
		<!--         <div class="testim-cover"> -->
		<div class="wrap">

			<span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
			<span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
			<ul id="testim-dots" class="dots">
				<li class="dot active"></li>
				<!--
								-->
				<li class="dot"></li>
				<!--
								-->
				<li class="dot"></li>
				<!--
								-->
				<li class="dot"></li>
				<!--
								-->
				<li class="dot"></li>
			</ul>
			<div id="testim-content" class="cont">

				<div class="active">
					<div class="img"><img src="{% static 'home/amitabh.jpg' %}" alt="">
					</div>
					<h2>Amitabh Bachchan</h2>
					<p>Excellent Application!!! Helped me kill time during my Quarantine at Leelavati Hospital. Played many games,made new friends.
					Kudos to the developers. 
					</p>
				</div>

				<div>
					<div class="img"><img src="{% static 'home/abhishek.jpg' %}" alt=""></div>
					<h2>Abhishek Bachchan</h2>
					<p>Woah!!!..Just matched with my dad on this application although being in the same hospital.Had a great time.
					</p>
				</div>

				<div>
					<div class="img"><img src="{% static 'home/amitshah.jpg' %}" alt=""></div>
					<h2>Amit Shah</h2>
					<p>Enjoyed my quarantine as well as a break from the hectic life on this application. Very useful as I can get all the tips 
					from the experts as well as home remedies from the recovered patients.
					</p>
				</div>

				<div>
					<div class="img"><img src="{% static 'home/arjun.jpg' %}" alt="">
					</div>
					<h2>Arjun Kapoor</h2>
					<p> It never feels lonely seeing so many people like us on this platform.Enjoyed my quarantine to the fullest and especially
					liked the games part on this website..never had me bored!
					</p>
				</div>

				<div>
					<div class="img"><img src="{% static 'home/kanika.jpg' %}" alt=""></div>
					<h2>Kanika Kapoor</h2>
					<p>Met many friends who had similar interests like me..hence made some good contacts.As I was home-quarantined, the home 
					remedies section helped me a lot to recover quickly.
					</p>
				</div>

			</div>

		</div>
		<!--         </div> -->
	</section>

	<script src="https://use.fontawesome.com/1744f3f671.js"></script>
	<!-- partial -->
	<script src="{% static 'home/testimonial.js' %}"></script>


	<script src="https://use.fontawesome.com/1744f3f671.js"></script>
	<div id="footer">
		<p>&copy; CopyRight. All rights reserved. </p>
		<p><strong>Write a feedback to us on isolatetogether@gmail.com<strong> </p>
	</div>
</body>

</html>